<div style = "height:56px"></div>
<div class="container bas-page">
    <footer class="py-1">
    <div class="row">
        <div class="col-9 col-md-2 mb-3">
            <h5 class = "bas-page">Affiliés</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 bas-page">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 bas-page">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 bas-page">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 bas-page">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 bas-page">About</a></li>
            </ul>
        </div>

        <div class="col-9 col-md-2 mb-3">
            <h5 class = "bas-page">Services offerts</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
            </ul>
        </div>

        <div class="col-md-5 offset-md-1 mb-3 bas-page">
            <form>
            <h5>Des questions ?</h5>
            <p>Écrivez-moi un courriel avec vos questions et je vous réponderais dès que possible. (Normalement entre 1 à 2 journées)</p>
                <div class=" w-100 gap-2">
                    <a href = "mailto:chakir.z@outlook.com?subject=Question%20par%20rapport%20au%20tutorat&body=%3CVous%20pouvez%20inscrire%20votre%20question%20ici%20!%3E" class="bouton1 btn btn-outline-info">Envoyer un courriel directement</a>
                    <p></p>
                </div>
            </form>
        </div>
    </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top bas-page">
            <p>&copy; 2023 Zakaria Chakir, All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
    </div>
    </footer>
</div>

