<!DOCTYPE html>
<html>
    <head>
        <link rel = "icon" href="http://127.0.0.1:5000/static/favicon.ico">
        <title>Zakaria's acheivement </title>
    </head>
    <body>
        <h1>Zakaria's Acheivement</h1>
        <img src ="http://127.0.0.1:5000/static/banner.jpg" heigth="320" width = "640">
        <h2> About me </h2>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Pretium quam vulputate dignissim suspendisse in est ante. Et netus et 
            malesuada fames ac turpis. Viverra aliquet eget sit amet. Porta nibh venenatis
            cras sed felis eget velit aliquet sagittis. Tristique magna sit amet purus gravida quis.
        </p>
        <h2> Experience </h2>
        <p> TODO - Show the list of the jobs here </p>
        <button>Contact Me :)</button>
    </body>

</html>