<div class = "lead fw-normal mt-4 mb-4 border-bottom row" style = "padding-bottom:8px">
    <div class="col-9">
        <h4 style = "color:rgb(180,200,180)">{{tutor['title']}}</h4>
        <div class = "lead fw-normal" ><b>Prix : </b> {{tutor['price']}}</div>
        {%if 'location' in tutor%}
            <div class = "lead fw-normal" ><b>Temps : </b> {{tutor['location']}}</div>
        {%endif%}
    </div>

    <div class="col-3 align-self-center text-end">
        <button type="button" class="bouton btn btn-outline-info">Appliquer</button>
    </div>
</div>
